section {
  margin-top: 25px;
}

img {
  margin: 15px;
}

h2 {
  margin: 10px;
}

h3 {
  font-weight: 800;
}

#edit-btn {
  margin: 15px;
  margin-top: 20px;
}

th.first {
  padding-right: 20px;
}

td.first {
  padding-right: 20px;
}

input {
  border: white;
  border-radius: 4px;
}

#submit-btn {
  margin-bottom: 5px;
  margin-left: 8px;
}

th.first {
  padding-top: 20px;
}

th.second {
  padding-top: 20px;
}